<div id="header">
                <ul class="navigation">
                    <li>
                        <a href="{{path("food")}}">OUR FOOD</a>
                    </li>
                    <li>
                        <a href="{{path("beer")}}">OUR BEER</a>
                    </li>
                </ul>
                <a id="logo" href="{{path("homepage")}}"><img src="/images/logo.jpg" width="276" height="203" alt="Steak House" title="Steak House"></a>
                <ul id="navigation">
                    <li>
                        <a href="{{path("reservation")}}">RESERVATION</a>
                    </li>
                    <li>
                        <a href="{{path("contact")}}">CONTACT US</a>
                    </li>
                </ul>
            </div>